<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
    <link rel="styleSheet" href="/css/404Page.css">
    </head>
  
    <body class="body">
      <header class="main-header">
        <nav class="main-header_nav">
          <ul class="main-header_itemList">
            <li class="main-header_listItem"><a href="/">Shop</a></li>
            <li class="main-header_listItem"
              ><a class="active" href="add-product">Add Product</a></li
            >
            <li class="main-header_listItem"><a href="cart">Cart</a></li>
            <li class="main-header_listItem"><a href="signUp">Sign Up</a></li>
          </ul>
        </nav>
      </header>
  </head>
  <body> 
    <p><h1>404 Error</h1>
    <b><h2>error:</h2></b> "Page Not Found"<br>
    <b><h2>message:</h2></b> "Invalid URL"</p>
</body>
</html>
