<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Form</title>
    <link rel="stylesheet" href="/css/cart.css" />
  </head>

  <body class="body">
    <header class="main-header">
      <nav class="main-header_nav">
        <ul class="main-header_itemList">
          <li class="main-header_listItem"><a href="/">Shop</a></li>
          <li class="main-header_listItem"
            ><a class="active" href="add-product">Add Product</a></li
          >
          <li class="main-header_listItem"><a href="cart">Cart</a></li>
          <li class="main-header_listItem"><a href="signUp">Sign Up</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form class="productForm" action="/added-products" method="POST">
        <div class="formControl">
          <h1><label for="title">Input your Product here:</label></h1>
          <h2><input type="text" name="productName" id="productName" /></h2>
        </div>

        <button type="button" id="redirectHome">Add Product</button>
      </form>
    </main>
  </body>
</html>
