<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello</h1>
    <main>
      <form class="productForm" action="/added-products" method="POST">
        <div class="formControl">
          <h1><label for="title">Input your Product here:</label></h1>
          <h1><input type="text" name="productName" id="title" /></h1>
        </div>

        <button type="button" id="redirectHome">Add Product</button>
      </form>
    </main>
  </body>
</html>
