<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Shop Homepage</title>
    <link rel="styleSheet" href="/css/main.css" />
  </head>

  <body class="body">
    <header class="main-header">
      <nav class="main-header_nav">
        <ul class="main-header_itemList">
          <li class="main-header_listItem"
            ><a class="active" href="/">Home</a></li
          >
          <li class="main-header_listItem"
            ><a href="add-product">Add Product</a></li
          >

          <li class="main-header_listItem"><a href="cart">Cart</a></li>
          <li class="main-header_listItem"><a href="signUp">Sign Up</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>My Products</h1>
      <p>List of all the products...</p>
    </main>
  </body>
</html>
