extends layout/mainLayout

block content
  .productList
    .grid
    article.card.product-item
      header.card__header
        h1.product__title Great Book
      .card__image
        img(src="https://imgs.search.brave.com/MwVnC7AwSjRdxzoaudswhsph6XRWUTHgvng4ZTGwGc4/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/Y29ycG9yYXRlZmlu/YW5jZWluc3RpdHV0/ZS5jb20vYXNzZXRz/L3Byb2R1Y3RzLWFu/ZC1zZXJ2aWNlcy0x/MDI0eDEwMjQuanBl/Zw", width="200px" , alt="A Book")
      .card__content
        h2.product__price $19.99
        p.product__description A very interesting book about so many even more interesting things!
      .card__actions
        button.btn Add to Cart
    .grid
    article.card.product-item
      header.card__header
        h1.product__title Great Book
      .card__image
        img(src="https://imgs.search.brave.com/MwVnC7AwSjRdxzoaudswhsph6XRWUTHgvng4ZTGwGc4/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/Y29ycG9yYXRlZmlu/YW5jZWluc3RpdHV0/ZS5jb20vYXNzZXRz/L3Byb2R1Y3RzLWFu/ZC1zZXJ2aWNlcy0x/MDI0eDEwMjQuanBl/Zw", width="200px" , alt="A Book")
      .card__content
        h2.product__price $19.99
        p.product__description A very interesting book about so many even more interesting things!
      .card__actions
        button.btn Add to Cart
