<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Product</title>
    <link rel="styleSheet" href="/css/products.css" />
  </head>

  <body class="body">
    <header class="main-header">
      <nav class="main-header_nav">
        <ul class="main-header_itemList">
          <li class="main-header_listItem"><a href="/">Home</a></li>
          <li class="main-header_listItem"
            ><a class="active" href="add-product">Add Product</a></li
          >
          <li class="main-header_listItem"><a href="cart">Cart</a></li>
          <li class="main-header_listItem"><a href="signUp">Sign Up</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <form class="productForm" action="/confirmedSignUp" method="POST">
        <div class="formControl">
          <h1><label for="userName">UserName:</label></h1>
          <h1><input type="text" name="userName" id="userName" /></h1>
          <h1><label for="password">Password:</label></h1>
          <h1><input type="text" name="password" id="password" /></h1>
          <h1><label for="confirmPassword">Confirm Password:</label></h1>
          <h1
            ><input
              type="text"
              name="confirmPassword"
              id="confirmPassword" /></h1
        ></div>

        <button type="submit">Sign Up</button>
      </form>

      <script>
        console.log(document.getElementById("UserName"));
      </script>
    </main>
  </body>
</html>
